<div class="registerForm">
  <h1>Registro de Usuario</h1>
    <form [formGroup]="registerForm" action="">
      <input type="text"  formControlName="name" placeholder="Nombre">
      <input type="text"  formControlName="lastname" placeholder="Apellido">
      <input type="email"  formControlName="email" placeholder="Correo">
      <input type="password"  formControlName="password" placeholder="Contraseña">
      <input type="text"  formControlName="rol" placeholder="Rol">
      <button type="submit" class="btn-send">Enviar</button>
    </form>
</div>